.drafting-container {
    max-width: 100%;
    margin: 0;
    height: 100%;
    background: linear-gradient(135deg,
            #050806 0%,
            #0a160d 30%,
            #050806 70%,
            #010201 100%);
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.drafting-container h1, h2 {
    user-select: none;
    margin: 0 0 0 0;
    letter-spacing: 0;
    text-align: center;
}

.drafting-container h2 {
    font-weight: 400;
}

.pokemon-wrapper,
.team-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: black;
    padding: 25px 0;
    border-radius: 10px;
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.fifa-chosen-card-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(135deg, #37d4a5 0%, #9ac0f9 40%, #538de4 60%, #9abbf9 100%);
    box-sizing: border-box;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #161616;
    font-weight: bold;
}

.add-pokemon-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: white;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.fifa-card-container {
    border-radius: 15px;
    overflow: hidden;
    cursor: grab;
    position: relative;
    width: 170px;
    height: 240px;
    /* clip-path: polygon(20% 0%, 80% 0%,
            100% 8%, 100% 82%,
            50% 98%,
            0% 82%, 0% 8%); */
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease;
    user-select: none;
}

.fifa-card-container:active {
    cursor: grabbing;
}

.fifa-card-container:hover {
    transform: translateY(-7px);
}

.fifa-card-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #161616;
    font-weight: bold;
    background: red;
}

.fifa-card-content.legend {
    background: linear-gradient(135deg, #bd64f8 0%, #ee7ff8 40%, #e241da 60%, #fd7ea4 100%);
    box-shadow: inset 0 0 10px rgb(255, 0, 76);
}

.fifa-card-content.gold {
    background: linear-gradient(135deg, #d4af37 0%, #f9e19a 40%, #b38f2d 60%, #f9e19a 100%);
    border-color: #f9e19a;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.733);
}

.fifa-card-content.silver {
    background: linear-gradient(135deg, #707a8a 0%, #e2e8f0 40%, #94a3b8 60%, #f1f5f9 100%);
    border-color: #e2e8f0;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.473);
}

.fifa-card-content.bronze {
    background: linear-gradient(135deg, #804a00 0%, #cd7f32 40%, #a05a00 60%, #e6a15c 100%);
    border-color: #e6a15c;
    box-shadow: inset 0 0 15px rgba(102, 53, 4, 0.4);
}

.fifa-card-content.skeleton{
    background: linear-gradient(135deg, #804b0077 0%, #cd803279 40%, #a05b0080 60%, #e6a15c77 100%);
    border-color: #e6a15c;
}

.fifa-card-container.blocked{
    filter: brightness(0.4);
    cursor: not-allowed;
}

.spinner-card {
  --color-1: #fff;
  --size: 1.3px;
  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  border: calc(5 * var(--size)) solid var(--color-1);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.spinner-card-black {
  --color-1: #000;
  --size: 1.3px;
  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  border: calc(5 * var(--size)) solid var(--color-1);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-top {
    margin: -15px 0 0 0;
    display: flex;
    width: 90%;
    align-items: flex-start;
    justify-content: space-between;
}

.card-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.8;
}

.card-badge .rating {
    font-size: 26px;
    font-weight: 600;
}

.card-badge .position {
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    margin-top: 2px;
}

.card-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.8;
    font-weight: 600;
}

.img-skeleton {
    width: 200px;
    height: 100px;
}

.player-image-container {
    pointer-events: none;
    position: absolute;
    top: 0;
    margin: 9px 0 0 0;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.player-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.name {
    box-sizing: border-box;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    height: 30px;
    max-width: 100%;
}

.shiny-badge {
    position: absolute;
    right: 0;
    top: 30px;
    font-size: 30px;
    color: rgb(246, 255, 208);
}

.stats-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    letter-spacing: -1.6px;
}

.stat-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 15px;
}

.buffed {
    color: rgb(0, 22, 146);
}

.nerfed {
    color: rgb(146, 1, 1);
}

.stat-col span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 28px;
    font-weight: 600;
}

.stat-col b {
    letter-spacing: -0.5px;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

.flag-card {
    width: 30px;
    opacity: 0.8;
    margin: 5px 0 -15px 0;
}

.ready-button {
    background-color: rgb(224, 188, 27);
    color: black;
    border: none;
    font-family: inherit;
    padding: 15px 25px;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgb(196, 162, 11);
    }
}

.reset-button {
    background-color: rgb(224, 188, 27);
    color: black;
    border: none;
    font-family: inherit;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: rgb(196, 162, 11);
    }
}

.remove-pokemon-button {
    background-color: black;
    color: white;
    border: none;
    font-family: inherit;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
    color: rgb(255, 72, 72);
    }
}