.match-container {
    width: 1500px;
    margin: 0 auto;
    height: 100%;
    background: linear-gradient(135deg,
            #050806 0%,
            #0a160d 30%,
            #050806 70%,
            #010201 100%);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    border-radius: 10px;
}

.team-list {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 350px;
    background-color: black;
    border-radius: 7px;
    gap: 10px;
}

.team-list .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.team-list img {
    height: 40px;
}

.team-list h5 {
    font-size: 20px;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.team-list label {
    line-height: 1;
    color: white;
    display: flex;
    align-items: baseline;
    gap: 5px;
    font-size: 18px;
}

.team-list b {
    width: 40px;
    color: rgb(224, 188, 27);
}

.team-list span {
    color: #ccc;
    font-size: 16px;
}

.field-activities {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 0;
}

.match-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.score {
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    font-size: 30px;
}

.score .live-score {
    position: absolute;
    left: 50%;
    font-size: 50px;
    transform: translateX(-50%);
}

.score .player-name {
    max-width: 13vw;
    overflow: hidden;
    font-weight: 600;
    color: rgb(0, 162, 255);
}

.score .enemy-name {
    font-weight: 400;
    color: rgb(255, 61, 61);
}

.timer {
    font-size: 30px;
    color: yellow;
    line-height: 30px;
}

.field-activities img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.match-activities {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 650px;
    color: white;
    background-color: black;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.match-activities label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    font-size: 16px;
}

.player-event,
.enemy-event {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: #777;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.player-event b, .enemy-event b{
    font-weight: 500;
}

.ending {
    font-weight: 800;
    padding: 15px 10px;
    border-width: 1px 1px 1px 8px;
    border-color: rgb(135, 255, 99);
    background: repeating-linear-gradient(135deg,
            #012700,
            #012700 10px,
            #001b07 10px,
            #001b07 20px);
}

.goal {
    padding: 10px;
    font-weight: 600;
    border-width: 1px 1px 1px 8px;
    border-color: white;
    background: repeating-linear-gradient(135deg,
            #1f1f1f,
            #1f1f1f 10px,
            #161616 10px,
            #161616 20px);
}

.yellow-card {
    border-width: 1px 1px 1px 8px;
    border-color: rgb(252, 255, 99);
    background: repeating-linear-gradient(135deg,
            #272600,
            #272600 10px,
            #1b1b00 10px,
            #1b1b00 20px);
}

.red-card {
    border-width: 1px 1px 1px 8px;
    border-color: rgb(255, 61, 61);
    background: repeating-linear-gradient(135deg,
            #2e0004,
            #2e0004 10px,
            #1b0002 10px,
            #1b0002 20px);
}

.yellow-card span {
    width: 12px;
    height: 17px;
    background: yellow;
    border-radius: 2px;
}

.red-card span {
    width: 12px;
    height: 17px;
    background: red;
    border-radius: 2px;
}

.user-player {
    color: rgb(0, 162, 255);
}

.enemy-player {
    color: rgb(255, 61, 61);
}

.button-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.speed-button {
    color: rgb(224, 188, 27);
    background-color: black;
    border: none;
    font-family: inherit;
    padding: 2px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: rgb(3, 3, 3);
    }
}

.selected-speed-button {
    background-color: rgb(224, 188, 27);
    color: black;
    border: none;
    font-family: inherit;
    padding: 2px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: rgb(196, 162, 11);
    }

}

.start-game-button {
    background-color: rgb(224, 188, 27);
    color: black;
    border: none;
    font-family: inherit;
    padding: 5px 20px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: rgb(196, 162, 11);
    }
}